@import "tailwindcss";

/* clerk user button adjust*/

.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}

/* carousel arrows */

.arrows {
  height: 40px;
  width: 40px;
  margin: 1px;
}

/* input colours */

input {
  background-color: #fff;
  accent-color: red;
  border: 1px solid #ccc;
  color: #333;
}